
<div class="l-container">

<div class="l-content">
  <div class="l-chapter-container">
        <form action="https://www.mercari.com/jp/logout/" method="POST" class="l-single-inner" novalidate="novalidate">
      <div class="l-single-content">
        <button type="submit" class="btn-default btn-red">ログアウト</button>
        <input type="hidden" name="__csrf_value" value="">
      </div>
    </form>
  </div>

</div>


<%= render "shared/sidebar" %>


</div>

<%= render "shared/seller-button" %>
