
.app-banner {
  background-image: url("https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?82236637");
  height: 260px;
}

.app-banner-pc {
/*  background-color: white;*/
  height: 260px;
  margin: 0 auto;
  position: relative;
  width: 750px;
 }

 .app-banner-pc-inner {
  color: white;
  float: left;
  height: 165.76px;
  margin-right: 0px;
  padding-top: 47px;
  width: 420px;
 }

.app-banner-pc-inner h2 {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 24px;
}

.app-banner-pc-inner p {
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 35px;
 /* margin-top: 10px;*/
}

.app-banner-icon {
  height: 68px;
  margin: 10px 0 0;
  position: absolute;
  text-align: vertical;
}

.app-banner-icon figure{
  float: left;
}

.app-banner-icon ul {
  float: left;
  margin-left: 24px;
  /*margin: auto 0px;*/
}

.app-banner-icon ul li {
  display: inline-block;
  list-style: none;
  line-height: 34px;
}

.app-banner-icon li:last-child {
  margin-left: 16px;
}

.smart-phone-app {
  float: right;
}



.global-footer {
  position: relative;
  height: 700px;
  padding: 60px 0;
  text-align: center;
  background: #212121;
  color: #fff;
}

.global-footer nav {
  width: 1020px;
  margin: 0 auto;
}

nav ul {
  list-style: none;
}

.global-footer li {
  color: #333;
}

.download-app {
  display: none;
  text-align: center;
}

.download-app a {
  display: block;
}

.global-footer a {
  color: #fff;
}

a {
  text-decoration: none;
}

a {
 touch-action: manipulation;
}

.download-app img {
  margin: 0 8px 0 0;
}

img {
  vertical-align: middle;
}

.global-footer li {
  color: #333;
}

.footer-cell {
  display: inline-block;
  width: 23%;
  margin: 0 2% 0 0;
  vertical-align: top;
}

.footer-head {
  color: #fff;
  font-size: 16px;
}

h2 {
  line-height: 1.4;
}

nav ul {
  list-style: none;
}

.footer-cell li:first-child {
  margin: 24px 0 0;
}

.global-footer li {
  color: #333;
}

.footer-cell a {
 display: block;
}

.global-footer a {
  color: #fff;
}

a {
  text-decoration: none;
}

a {
  touch-action: manipulation;
}

.footer-cell li {
  margin: 16px 0 0;
}

.global-footer li {
  color: #333;
}

.footer-cell a {
  display: block;
}

.global-footer a {
  color: #fff;
}

a {
  text-decoration: none;
}

a {
  touch-action: manipulation;
}

.footer-cell:last-child {
  margin: 0;
}

.global-footer li {
  color: #333;
}

.footer-cell {
  display: inline-block;
  width: 23%;
  vertical-align: top;
}

nav ul {
  list-style: none;
}

.footer-cell li:first-child {
  margin: 24px 0 0;
}

.footer-nav-lang a {
  width: auto;
  margin: 0 auto;
  opacity: .3;
}

.footer-cell a {
  display: block;
}

.footer-nav-lang img {
  margin: 0 8px 0 0;
}

img {
  vertical-align: middle;
}

.footer-cell li {
  margin: 16px 0 0;
}

.footer-nav-lang a.active {
  opacity: 1.0;
}

.footer-logo {
  display: block;
  margin: 40px 0 0;
  text-align: center;
}

.footer-copyright {
  margin: 8px 0 0;
  text-align: center;
}

.footer-copyright small {
  font-size: 14px;
}

.footer-sell-btn-div{
}
.fa-camera{
  margin: 8px 0 0;
  font-size: 54px;
}


.header{
  height: 150px;
  background-color:green;
}

.l-container{
  height: 1600px;
  width: 1020px;
  margin: 40px auto 0;
  background-color: #f0f0f0;
}

